NUM_WORKERS=6
IMG="aertslab/pyscenic:0.12.0"

EXPR="data/raw/scenic_input/PMG_allgenes_expr.tsv"
TFS="data/raw/scenic_input/allTFs_dmel.txt"
DB="data/raw/scenic_input/dm6_v10_clust.genes_vs_motifs.rankings.feather"
MOTIFS="data/raw/scenic_input/motifs-v10nr_clust-nr.flybase-m0.001-o0.0.tbl"

OUTDIR="data/processed"